@import './mixin.scss';
@import './variables.scss';

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: $Roboto;
}

.container{
    @include customClasses;
    h6{
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 30px;
        text-align: center;
    }
}

.offset-top-40{
    padding-top: 70px;
}

.offset-bottom-40{
    padding-bottom: 70px;
}

.steps{
    padding: 70px 0;
    .steps-list{
        @include flexBetween;
        justify-content: space-around;
        &__item{
            text-align: center;
            position: relative;
            &::after{
                content: '';
                display: inline-block;
                background-repeat: no-repeat;
                width: 80%;
                height: 50px;
                position: absolute;
            }
            &:nth-child(1), &:nth-child(3){
                &::after{
                    background-image: url('../img/divider-line-top.png');
                    background-position: center;
                    top: 30px;
                    left: 160px;
                }
            }
            &:nth-child(2){
                &::after{
                    background-image: url('../img/divider-line-bottom.png');
                    background-position: center;
                    bottom: 90px;
                    left: 160px;
                }
            }
            @media only screen and (max-width: $lg){
                width: 300px;
                margin-bottom: 30px;
                &::after{
                    display: none;
                }
            }
        }
        &__title{
            font-weight: normal;
            font-size: 20px;
            margin-bottom: 15px;
        }
        &__descr{
            color: $grey;
            font-size: 90%;
        }
        &__icon{
            width: 150px;
            height: 150px;
            box-shadow: 0px 3px 10px rgba(0,0,0, 0.2);
            border-radius: 100%;
            margin-bottom: 20px;
            @include flexCenter;
            .fas{
                font-size: 40px;
                color: $blue;
                border: 1px solid $blue;
                border-radius: 100%;
                padding: 45px;
            }
            @media only screen and (max-width: $lg){
                margin: 20px auto;
            }
        }
        &__btn{
            text-transform: uppercase;
            color: $blue;
            border: 2px solid $blue;
            padding: 15px 40px;
            background: transparent;
            font-size: 16px;
            cursor: pointer;
            transition: all 0.6s;
            &:hover{
                background: $blue;
                color: $white;
            }
        }
        @media only screen and (max-width: $lg){
            flex-wrap: wrap;
        }
    }
}

.latest-posts{
    background: $light-grey;
    padding: 70px 0;
    h6{
        margin-bottom: 70px;
    }
    .posts{
        @include flexBetween;
        &__item{
            width: 32%;
            background: $white;
            transition: all 0.4s;
            cursor: pointer;
            img{
                width: 100%;
                height: 250px;
                object-fit: cover;
            }
            &:hover{
                box-shadow: 0px 1px 20px rgba(0,0,0, 0.2);
                transform: scale(1.03, 1.03);
            }
            @media only screen and (max-width: $lg){
                width: 400px;
                margin: 10px auto;
            }
            @media only screen and (max-width: $sm){
                width: 90%;
            }
        }
        &__info{
            padding: 30px 20px;
        }
        &__title{
            a{
                color: $black;
                font-size: 20px;
                font-weight: normal;
            }
        }
        &__descr{
            margin: 15px 0;
            line-height: 1.5;
            color: $grey;
            font-size: 14px;
        }
        &__date{
            color: $blue;
        }
        @media only screen and (max-width: $lg){
            flex-wrap: wrap;
        }
    }
}


.apps{
    text-align: center;
    &__descr{
        color: $grey;
        padding: 0 20%;
        line-height: 1.7;
        font-size: 90%;
        @media only screen and (max-width: $md){
            padding: 0 0;
        }
    }
    &__btns{
        @include flexCenter;
        margin-top: 30px;
        a{
            @include flexCenter;
            background: $blue;
            width: 200px;
            height: 60px;
            margin-left: 10px;
            transition: all 0.3s;
            &:hover{
                background: $red;
            }
            @media only screen and (max-width: $sm){
                margin-bottom: 10px;
            }
        }
        @media only screen and (max-width: $sm){
            flex-wrap: wrap;
        }
    }
}

footer{
    background: $blue;
    .container{
        @include flexBetween;
        .item{
            width: 300px;
            h4{
                color: $white;
                font-weight: normal;
                font-size: 16px;
                &::after{
                    content: '';
                    display: block;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
                    margin: 15px 0;
                    width: 100%;
                }
            }
            .links{
                @include flexBetween;
                flex-wrap: wrap;
                &__item{
                    width: 50%;
                    margin-bottom: 15px;
                    a{
                        color: $white;
                        font-size: 90%;
                    }
                    &::before{
                        display: inline-block;
                        font-family: "Font Awesome 5 Free"; 
                        font-weight: 900;
                        content: '\f0da';
                        color: $white;
                        margin-right: 5px;
                    }
                }
            }
            .place{
                @include flexBetween;
                flex-wrap: wrap;
                &__item{
                    width: 50%;
                    margin-bottom: 15px;
                    a{
                        color: $white;
                        font-size: 90%;
                    }
                    &::before{
                        display: inline-block;
                        font-family: "Font Awesome 5 Free"; 
                        font-weight: 900;
                        content: '\f3c5';
                        color: $white;
                        margin-right: 5px;
                    }
                }
            }
            .recent-posts{
                &__post{
                    @include flexBetween;
                    align-items: center;
                    text-align: center;
                    color: $white;
                    margin-bottom: 15px;
                }
                &__date{
                    width: 100px;
                    border-right: 1px solid rgba(255, 255, 255, 0.12);
                    .number{
                        font-size: 30px;
                        display: block;
                    }
                    .month{
                        font-size: 90%;
                    }
                }
                &__descr{
                    font-size: 90%;
                }
            }
            @media only screen and (max-width: $md){
                margin-bottom: 15px;
                width: 96%;
            }
        }
        @media only screen and (max-width: $md){
            flex-wrap: wrap;
            padding-left: 20px;
        }
    }
    .privacy{
        background: $dark-blue;
        text-align: center;
        padding: 15px 0;
        p{
            color: rgba($white, 0.4);
        }
    }
}