@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin customClasses {
    max-width: 1200px;
    margin: auto;
}
@mixin flexBetween {
    display: flex;
    justify-content: space-between;
}
