// colors
$blue: #1087eb;
$red: #dc3545;
$grey: #9a9a9a;
$white: #ffffff;
$dark-blue: #0076d1;
$light-grey: #f3f4f9;
$black: #000000;

// fonts
$Roboto: 'Roboto', sans-serif;

// devices sizes
$md: 768px;
$sm: 600px;
$lg: 992px;